exportPattern("^[[:alpha:]]+")

import(dplyr)
import(data.table)
import(tidyr)
import(ggplot2)
importFrom(raster, raster)
importFrom(raster, extent)
importFrom(raster, as.data.frame)
importFrom(purrr, map)
import(sf)
import(lubridate)
import(forcats)
import(ambient)
import(patchwork)
import(progress)
import(ggnewscale)
import(RColorBrewer)

importFrom(stats, "dt")
importFrom(stats, "density")
importFrom(magrittr, "%>%")
